body {
  background-color: #FAFAFA;
  line-height: 1.2em;
}

.topic-btn {
  font-size: 18px;
  width: 180px;
  height: 180px;
  background-color: #87467C;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
  border: 0px solid;
  margin: 5px;
}

.short-desc {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.more-desc {
  overflow: visible;
  height: auto;
}

.task-container {
  background-color: #F7F7F7;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #87467C;
  border-radius: 4px;
}

.task-list {
  font-size: 18px;
  line-height: 2em;
}

.step-done-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.step-new-start-btn {
  position: absolute;
  right: 105px;
  bottom: 25px;
}

.step-edit-btn {
  position: absolute;
  right: 35px;
  bottom: 110px;
}

.back-button {
  padding-top: 10px;
  padding-left: 30px;
  color: #87467C;
  font-size: 16px;
}

.logo {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 18px;
}

.show-btn {
  color: #87467C;
}
