<div class="container-fluid"  ng-controller="searchCtrl">

  <div class="row">
    <div class="col-xs-4 logo">
      <b>Swissy Life</b>
    </div>
    <div class="col-xs-2 col-xs-offset-6">
      <ng-md-icon icon="menu" size="32" ng-click="isEnabled = !isEnabled" style="fill:purple"/>
    </div>
  </div>

  <div class="myhidden-menu menu-background" ng-class="{'myvisible-menu': isEnabled}" style="line-height: 2em;">
    <ul class="list-unstyled" style="margin: 20px">
      <li><a href="#/myprogress">My Progress</a></li>
      <li><a href="#/search">Search</a></li>
      <li><a href="#/login">Logout</a></li>
      <li><a href="#/search">Settings</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-5" style="float:none; margin: 0 auto;line-height:2.5em">
      Recommended for you
    </div>
  </div>

  <div class="row" style="margin-left: 20px">
    <div style="float:left" ng-repeat="howto in recommended">
      <button type="submit" class="recommended-topic-btn" ng-click="goOverview(howto.ID)">{{howto.title}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    <h3>I want to</h3>
    <div >
  </div>

  <div class="row">
    <div>
      <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter" />
    </div>
  </div>
  <br />
  <div style="float:left" ng-repeat="howto in otherHowTo|filter:searchFilter">
    <button type="submit" class="topic-btn" ng-click="goOverview(howto.ID)">{{howto.title}}</button>
  </div>
</div>
